.contact-container {
  background-color: var(--clr-dark-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  max-width: 1008px;
  height: 430px;
  box-shadow: var(--box-shadow-light);
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*---------- social media icons styling */
.contact-icons-container {
  width: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.contact-wrapper > div > p {
  color: var(--clr-dark-font);
  font-style: italic;
}
.social-icons-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.social-icons {
  font-size: 25px;
  color: var(--clr-dark-font);
  margin: 10px;
  transition: ease-in 0.2s;
}
.social-icons-wrapper > a {
  cursor: default;
}
.social-icons:hover {
  cursor: pointer;
  transform: translateY(5px);
}

/* send email style */

.emailer-container {
  width: 35vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailer-style {
  width: 250px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  color: var(--clr-dark-font);
}

.emailer-style > label {
  padding: 10px 0;
}

.emailer-style > input {
  border: none;
  border-radius: 5px;
  padding: 2px;
}

.emailer-style > input:focus {
  outline: none;
}
textarea {
  resize: none;
}

textarea:focus {
  outline: none;
}

.emailer-style > button {
  border-radius: 5px;
  padding: 3px;
  align-self: center;
  margin-top: 10px;
  width: 60%;
  background-color: var(--clr-dark-secondary);
  transition: ease-in 0.1s;
  color: var(--clr-dark-primary);
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
}
.emailer-style > button:hover {
  color: var(--clr-dark-font);
  cursor: pointer;
  background-color: var(--clr-hover);
}
/* send another email style */
.emailer-container-sent {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 35vw;
  align-items: center;
}
.sent-email-text {
  max-width: 28vw;
  color: green !important;
}
.another-email {
  border-radius: 5px;
  padding: 3px;
  align-self: center;
  margin-top: 10px;
  width: 60%;
  background-color: var(--clr-dark-secondary);
  transition: ease-in 0.1s;
  color: var(--clr-dark-primary);
  font-weight: 600;
  letter-spacing: 2px;
  min-width: 213px;
}
.another-email:hover {
  cursor: pointer;
  background-color: var(--clr-hover);
}

.error-text {
  font-size: 12px;
  padding: 2px;
  color: rgb(209, 80, 80);
}
.error-input {
  border: solid 3px rgb(209, 80, 80);
}
.shorten {
  height: 350px;
}
/* animation */
.emailer-container-sent,
.emailer-container,
.contact-icons-container {
  animation: appear 0.5s ease-in forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* responsive */

@media (max-width: 780px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .contact-icons-container {
    margin-top: 20px;
  }
  .contact-icons-container > p {
    width: 170px;
  }
  .contact-container {
    height: 530px;
  }
  .emailer-container > p {
    width: 250px;
  }
  .emailer-container-sent {
    margin-top: 50px;
  }
  .sent-email-text {
    max-width: none;
    width: 400px;
    margin-bottom: 30px;
  }
  .shorten {
    height: 400px;
  }
}
@media (max-width: 620px) {
  .sent-email-text {
    width: 300px;
  }
  .another-email {
    min-width: unset;
    width: 180px;
  }
}
@media (max-width: 470px) {
  .sent-email-text {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .contact-container {
    width: 80vw;
  }
}

@media (max-width: 300px) {
  .emailer-style {
    width: 180px;
  }
  .emailer-container > p {
    width: 180px;
  }
  .sent-email-text {
    width: 205px;
  }
}
