.sidePanel-container {
  position: fixed;
  top: -50px;
  left: 120px;
  width: 100px;
}

.sidepanel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidepanel-top-side {
  width: 100%;
  height: 50px;
  background-color: var(--clr-dark-primary);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sidepanel-bottom-side {
  /* background-color: green; */
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--clr-dark-primary);
}
.sidepanel-bottom-side > i:hover {
  cursor: pointer;
}

/* animation */
.sidepanel-open {
  animation: open-slidePanel 0.5s ease-in forwards;
}
.sidepanel-closed {
  animation: close-slidePanel 0.5s ease-in forwards;
}
.disappear {
  animation: display-none 0.5s ease-in forwards;
}
@keyframes open-slidePanel {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 10px;
  }
}
@keyframes display-none {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes close-slidePanel {
  0% {
    top: 10px;
  }
  100% {
    top: -50px;
    display: none;
  }
}

/* theme icons */
.theme-audio-icons {
  height: 20px;
  width: 20px;
  color: var(--clr-dark-secondary);
  border: solid 2px white;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.theme-audio-icons:hover {
  cursor: pointer;
}
.theme-audio-icons > i {
  position: absolute;
}
.icon-appear {
  animation: appear 0.5s ease-in forwards;
}
.theme-audio-icons > img {
  position: absolute;
  width: 15px;
}

/* responsive */

@media (max-width: 1450px) {
  .sidePanel-container {
    width: 50px;
  }
  .sidepanel-top-side {
    height: 100px;
    flex-direction: column;
  }
  @keyframes open-slidePanel {
    0% {
      opacity: 0;
      top: -100px;
    }
    100% {
      opacity: 1;
      top: 10px;
    }
  }
  @keyframes close-slidePanel {
    0% {
      top: 10px;
    }
    100% {
      top: -100px;
      display: none;
    }
  }
}

@media (max-width: 1300px) {
  .sidePanel-container {
    left: 5vw;
  }
}

@media (max-width: 600px) {
  .sidePanel-container {
    left: 1px;
  }
}

@media (max-width: 400px) {
  .sidePanel-container {
    width: 25px;
  }
  .theme-audio-icons {
    width: 10px;
    height: 10px;
    font-size: 10px;
    border: solid 1px white;
  }
  .theme-audio-icons > img {
    width: 10px;
  }
}

@media (min-width: 1600px) {
  .sidePanel-container {
    left: 10vw;
  }
}

@media (min-width: 1800px) {
  .sidePanel-container {
    left: 15vw;
  }
}

@media (min-width: 2000px) {
  .sidePanel-container {
    left: 19vw;
  }
}
@media (min-width: 2200px) {
  .sidePanel-container {
    left: 22vw;
  }
}

@media (min-width: 2400px) {
  .sidePanel-container {
    left: 24vw;
  }
}
